<footer class="site-footer">
    <div class="newsletter">
        <h3>Subscribe to our Newsletter</h3>
        <form id="newsletter-form">
            <input type="email" id="newsletter-email" placeholder="Enter your email" required />
            <button type="submit">Subscribe</button>
        </form>
        <p id="newsletter-message" class="newsletter-message"></p>
    </div>
    <p>
        &copy;2025 ⛺ SleepOutside ⛺ WDD 330 ⛺ BYU-Idaho for BYU-Pathway Worldwide Online
    </p>
</footer>
<script src="/src/js/newsletter.js" type="module"></script>